@tailwind base;
@tailwind components;
@tailwind utilities;

.rb {
  border: solid 1px red;
}

/* General styles */
body {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Chatbot container */
.chat-container {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 400px;
}

/* Chat messages */
.chat-messages {
  max-height: 300px;
  overflow-y: auto;
  padding: 15px;
  display: grid;
  gap: 0.2rem;
}

/* Message bubbles */
.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.user-message {
  align-self: flex-end;
  background-color: #4b91f1;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  max-width: 70%;
  word-wrap: break-word;
  margin: 0.2rem 0 0.2rem 0;
}

.bot-message {
  align-self: flex-start;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 20px;
  padding: 10px 15px;
  max-width: 70%;
  word-wrap: break-word;
  margin: 0.2rem 0 0.2rem 0;
}

/* Input field and button */
.input-container {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-top: 1px solid #ccc;
}

.input-field {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin-right: 10px;
  font-size: medium;
}

.send-button {
  background-color: #4b91f1;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bolder;
  font-size: medium;
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.75rem 1rem 0.75rem;
  align-items: center;
}

.navlogo {
  font-size: 1.25rem;
  margin-left: 1rem;
}

.underline_on_hover {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 1000;
  position: relative;
  transition: all 0.15s ease-in-out;
}

.underline_on_hover::after {
  content: "";
  position: absolute;
  bottom: -6px; /* Separation from the text */
  left: -1%;
  right: 101%;
  height: 4px; /* Thickness of the underline */
  background-color: #4b91f1;
  border-radius: 3px;
  transition: right 0.15s ease-in-out;
  cursor: pointer;
}

.underline_on_hover:hover::after {
  right: -1%;
}

@keyframes loading-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/* By default, the image is displayed */
.tttlogo {
  display: block;
}

/* When the viewport width is less than 450 pixels, hide the image */
@media (max-width: 449px) {
  .underline_on_hover {
    font-size: 1.4rem; /* Adjusts the size of the text in the anchor tag */
  }
}

/* When the viewport width is less than 450 pixels, hide the image */
@media (max-width: 530px) {
  .tttlogo {
    display: none;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .topnav {
    display: "flex";
    border: 1px solid black;
    align-items: center;
    padding: 0.85rem 0.75rem 0.85rem 0.75rem;
    justify-content: "space-between";
  }
}
